table(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(style="color:#777777") Ship to:
        td

    tr
        td(style="font-weight:bold; padding-right:10px") First Name:
        td #{shipping_firstName}

    tr
        td(style="font-weight:bold; padding-right:10px") Last Name:
        td #{shipping_lastName}

    tr 
        td(style="font-weight:bold; padding-right:10px") Street address 1:
        td #{shipping_streetAddress}

    tr 
        td(style="font-weight:bold; padding-right:10px") Street address 2:
        td #{shipping_extendedAddress}

    tr
        td(style="font-weight:bold; padding-right:10px") Company:
        td #{shipping_company}

    tr
        td(style="font-weight:bold; padding-right:10px") City:
        td #{shipping_city}

    tr
        td(style="font-weight:bold; padding-right:10px") State:
        td #{shipping_state}

    tr 
        td(style="font-weight:bold; padding-right:10px") Postal Code:
        td #{shipping_postalCode}

    tr 
        td(style="font-weight:bold; padding-right:10px") Country Code:
        td #{shipping_countryCodeAlpha2}

    tr
        td(style="font-weight:bold; padding-right:10px") Email:
        td #{shipping_email}